{% if ctx.changelog_mode == "update" %}
## [{{ version }}] - ({{ datetime.date.today().strftime('%Y-%m-%d') }})

{% for type, commits in ctx.history.unreleased | groupby("type") %}
### {{ type | title }}

{% for commit in commits %}
- {{ commit.message.split('\n')[0] }} ({{ commit.short_hash }})
{% endfor %}
{% endfor %}

{% else %}
# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

{% for release in ctx.history.released.values() | list %}
## [{{ release.version }}] - ({{ release.date.strftime("%Y-%m-%d") if release.date else "Unknown Date" }})

{% if release.description %}
{{ release.description }}
{% endif %}

{% set commits = release.commits | default([]) %}
{% for type, section_commits in commits | groupby("type") %}
### {{ type | title }}

{% for commit in section_commits %}
- {{ commit.message.split('\n')[0] }} ({{ commit.short_hash }})
{% endfor %}
{% endfor %}

{% endfor %}
{% endif %}